node_modules/
dist/
.env
.env.local
.env.*.local
uploads/
*.log
.DS_Store
.turbo/
apps/server/prisma/seed.js
apps/server/prisma/seed.js.map
apps/server/prisma/seed.d.ts
apps/server/prisma/seed.d.ts.map
